<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elson.chapter9.mapper.ProcedureMapper">
    <select id="count" parameterType="com.elson.chapter9.pojo.ProcedurePojo"
            statementType="CALLABLE">
      {call count_role (
          #{roleName, mode=IN, jdbcType=VARCHAR},
          #{result, mode=OUT, jdbcType=INTEGER},
          #{execDate, mode=OUT, jdbcType=DATE}
      )}
    </select>
</mapper>